{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
     <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: rgba(151, 65, 33, 0.577) url("{% static '1.jpg' %}") no-repeat center center;
            background-size: cover;
        }
    </style>
</head>
<body>
    
    <header>
        <div class ="container">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Auth</label>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="{% url 'register' %}" class="btnLogin-popup">Register</a></li>
                     
                </ul> 
        </div>    
    </header>
        <main>
        {% block content %}
        <!-- Page content goes here -->
        {% endblock %}
    </main>




        <div class="footer">
            <footer>
                <div class="footer-container">
                    <p>&copy; 2025 Auth. All rights reserved.</p>
                    <div class="socials">
                        <a href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="https://www.twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="https://www.linkedin.com/"><ion-icon name="logo-linkedin"></ion-icon></a>
                    </div>

                </div>
            </footer>
        </div>

     <script src="{% static 'scripts.js' %}"></script>
     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</body>
</html>